<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>SOS</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header><br>


<ion-content class="content">
  <div class="header">
    <ion-label>Select a category:</ion-label><br>
  </div>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-icon name="medkit-outline" size="large"></ion-icon>
        <p>Healthcare <br><span>Professionals</span></p>
      </ion-col>
      <ion-col>
        <ion-icon name="business-outline" size="large"></ion-icon>
        <p>Police Stations</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-icon name="medkit-outline" size="large"></ion-icon>
        <p>Hospitals</p>
      </ion-col>
      <ion-col>
        <ion-icon name="business-outline" size="large"></ion-icon>
        <p>Pharmacies</p>
      </ion-col>
    </ion-row>
  </ion-grid><br><br><br>
  <div class="row">
    <ion-label class="emerge_res">EMERGENCY RESPONSE</ion-label><br>
    <ion-label class="call">Call 112(FREE)</ion-label><br><br>
    <ion-icon class="call_icon" name="call-outline" size="large"></ion-icon>
  </div>
</ion-content>
