<ion-list>
  <ion-item lines="full">
    <ion-label>Filter</ion-label>
    <ion-select [(ngModel)]="filterBy">
      <ion-select-option [value]="accommodations"
        >Accommodations
      </ion-select-option>
      <ion-select-option [value]="winaries"
        >Winaries
      </ion-select-option>
      <ion-select-option [value]="wedding-venues"
        >Wedding Venues
      </ion-select-option>
      <ion-select-option [value]="food-drinks"
        >Food & Drinks
      </ion-select-option>
      <ion-select-option [value]="activities"
        >Activities
      </ion-select-option>
      <ion-select-option [value]="health-beauty"
        >Health & Beauty
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
