<ion-list>
  <ion-item lines="full">
    <ion-label>Filter</ion-label>
    <ion-select [(ngModel)]="filterBy" multiple="true" (ionChange)="filter($event)">
      <ion-option [value]="Accommodation"
        >Accommodation</ion-option>
      <ion-option [value]="Winery"
        >Winery</ion-option>
      <ion-option [value]="Weddings"
        >Weddings</ion-option>
      <ion-option [value]="Drinks"
        >Food & Dining</ion-option>
      <ion-option [value]="Activities"
        >Other</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
