.banner {
  --background: transparent;
}

.image {
  width: 100%;
}

// ion-icon {
//   background:#43A4EF;
// }

 ion-content ion-button{
  background:#43A4EF;
  // padding:15px;
  border-radius: 50%;
}