<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div class="toggle_list">
    <ion-item color="secondary">
      <ion-label>Allow push notifications</ion-label>
      <ion-toggle color="dark"></ion-toggle>
    </ion-item>
  
    <ion-item color="secondary">
      <ion-label>Share location</ion-label>
      <ion-toggle color="dark"></ion-toggle>
    </ion-item>
  
    <ion-item color="secondary">
      <ion-label>Access to camera</ion-label>
      <ion-toggle color="dark"></ion-toggle>
    </ion-item>
  </div>
  <div class="reset_btn">
    <ion-button expand="block">Reset Password</ion-button>
  </div>
</ion-content>
